node_modules
.npm
.next
.next/cache
.env
.env.*
!.env.example
.git
.gitignore
.eslintrc*
.eslintignore
.vscode
.idea
*.swp
.DS_Store
audit/
*.md
coverage/
tsconfig.tsbuildinfo
supabase/.branches
supabase/.temp
Dockerfile*
docker-compose*
.github/
